<form (submit)="onSubmit(); createMsg.reset()" class="form" name="createMsg" #createMsg="ngForm">
  <div class="input-group">
    <div class="input-group-addon">+</div>
    <textarea type="text" class="form-control" placeholder="Message"
      ng-textarea-enter="textareaAction()"
      id="message_input"
      tabindex="1"
      name="content"
      minlength="2"
      maxlength="500"
      required
      [(ngModel)]="msg.content"
      #content="ngModel"></textarea>
    <div class="input-group-addon checkColor">
      <input type="submit" tabindex="2" value="&#10004;"
        [disabled]="createMsg.invalid" 
        class="btn-transparent">
    </div>
    <div class="input-group-addon">@</div>
  </div>
  <div class="row text-danger">
    <!-- <small class="col-md-12" *ngIf="content.errors?.required && content.touched">Content is required.</small> -->
    <small class="col-md-12" *ngIf="content.errors?.minlength && content.touched">Content must have at least 2 characters.</small>
    <small class="col-md-12" *ngIf="content.errors?.maxlength && content.touched">Content may have no more than 500 characters.</small>
  </div>
</form>

<script>

</script>
