form {
    display: flex;
}
input {
    display: inline-block;
}
#message_input {
    flex: 1;
    min-height: 3.75em;
}
.input-group {
    flex: 1;
}
.line {
    border-bottom: 1px black solid;
}
.checkColor {
    color: white;
    background-color: #4d394b;
    border: 1px solid #4d394b;
}
.btn-transparent {
    background: transparent;
    border: none;
}