<div class="row">
  <div class="col-sm-5">
    <div class="row">
      <h4 class="h4">
        @{{currentUser.username}}
        <small>
          <span> | </span>
          <span>
            <a (click)="onClickLogout()">Logout</a>
          </span>
        </small>
      </h4>
      
    </div>
  </div>
  <div class="col-sm-7">
    <form class="form-horizontal form-inline" (submit)='onSubmit(); searchForm.reset()' #searchForm='ngForm'>
      <div class="form-group pull-right">
        <input name="searchInput" 
          class="searchInput form-control"
          type="text" 
          placeholder="Search.." 
          [(ngModel)]='userInput' 
          #searchErr='ngModel' 
          required 
          minlength="1">
        <input class="btn btn-default" type="submit" [disabled]='searchForm.invalid'>
      </div>
    </form>
  </div>
</div>