<div class="container-fluid">
    <div class="row">
        <span class="font-weight-bold mr-4">Development Links:</span>
        <a [routerLink]="['']">Login</a>
        <a [routerLink]="['messages']">Messages</a>
        <a [routerLink]="['messages', 'profile']">Profile</a>
        <a [routerLink]="['messages', 'comment']">Comment</a>
        <a [routerLink]="['newChannel']">Create Channel</a>
        <a [routerLink]="['join']">Join Team/Create Team</a>
        <a (click)="initTeams()">Init Teams</a>

    </div>
    <router-outlet></router-outlet>
</div>
