.navside{
    padding-left: 20px;
    background-color: #4d394b;
    height: 100vh;
}
h1,h2,h3,h4,h5,p{
    color: white
}
.channel h5, button{
    display: inline-block;
}
.grey{
    height: 95vh;
    background-color: lightgray;
    padding: 0;
}
.grey h4{
    color: black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
}