.navVertical {
    padding: 20px 5px;
}
.navside{
    padding-left: 20px;
    background-color: #4d394b;
    height: 100vh;
}
h1,h2,h3,h4,h5,p,.nav-link{
    color: white
}
.nav-link{
    opacity: 0.6;
    cursor: pointer;
}
/* hover over the team navbar */
#team:hover {
    min-width: 200px;
    width: 15vw;
    z-index: 100;
    padding: 25px;
}
#team:hover h4 {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    text-align: left;
    padding-bottom: 25px;
    display: inline;
}
#team:hover .eachTeam {
    display: block;
}
#team:hover a {
    color: rgba(255,255,255, 1);
    cursor: pointer;
}
.nav-link:hover{
    opacity: 1;
    text-decoration: none;
}
#team:hover + #channel {
    display: none;
}

.channel h5, button{
    display: inline-block;
}
.grey{
    height: 100vh;
    background-color: #352833;
}
.grey h4{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: 0;
}
.eachTeam{
    display: none;
}
.btn1, .btn2{
    margin: 20px auto;
    border-radius: 15px;
    border: 1px white solid;
    color: white;
    font-weight: bold;
}
.btn1{
    background-color: lightgray
}
.btn2{
    background-color: #4d394b
}