<div class="row col-md-12 mx-auto">
  <h2 class="mb-3">Create a New @Channel</h2>
  <div class="row col-md-12 mx-auto itemBox">
    <form (submit)="onSubmit(); createChannel.reset()" class="row form col-md-12 mx-0 px-0" name="createChannel" #createChannel="ngForm">
      <div class="row col-md-12 form-group">
        <label for="name" class="col-form-label col-md-2 m-0">
          <small>*@Channel Name</small>
        </label>
        <input name="name" type="text" tabindex="1"
          class="form-control col-md-9" 
          placeholder="Name ..." 
          minlength="2" 
          maxlength="255"
          required 
          [(ngModel)]="channel.name" 
          #name="ngModel">
        <div class="row text-danger">
          <small class="col-md-12" *ngIf="name.errors?.required && name.touched">Name is required.</small>
          <small class="col-md-12" *ngIf="name.errors?.minlength && name.touched">Name must have at least 2 characters.</small>
          <small class="col-md-12" *ngIf="name.errors?.maxlength && name.touched">Name may have no more than 255 characters.</small>
        </div>
      </div>
      <div class="row col-md-12 form-group">
        <label for="purpose" class="col-form-label col-md-2 m-0">
          <small>Purpose</small>
        </label>
        <textarea name="purpose" type="text" tabindex="2"
          class="form-control col-md-9"
          rows="3" 
          minlength="2" 
          maxlength="255"
          required 
          [(ngModel)]="channel.purpose" 
          #purpose="ngModel">Describe the purpose for this channel for your users ...</textarea>
        <div class="row text-danger">
          <small class="col-md-12" *ngIf="purpose.errors?.required && purpose.touched">Purpose is required.</small>
          <small class="col-md-12" *ngIf="purpose.errors?.minlength && purpose.touched">Purpose must have at least 2 characters.</small>
          <small class="col-md-12" *ngIf="purpose.errors?.maxlength && purpose.touched">Purpose may have no more than 255 characters.</small>
        </div>
      </div>
      <div class="row col-md-12 form-group text-right">
        <input type="reset" tabindex="2" class="col-md-2 form-control mx-4 btn btn-info" value="Cancel">
        <input type="submit" tabindex="3" class="col-md-2 form-control btn btn-secondary" value="Add Channel" [disabled]="createChannel.invalid">
      </div>
    </form>
  </div>
</div>
