<div class="container-fluid">
  <p>{{currentTeam | json}}</p>
  <div class="row">
    <div class="col-sm-2 navbar">
      <app-navbar (ProfileEmitter)='visibleClicked()' [channels]="channels" [teams]="teams"></app-navbar>
    </div>
    <div class="col-md-10 col-sm-10 mainComponent">
      <div class="row searchHeight">
        <app-searchbar (SearchResultEmitter)='searchSubmitted()'></app-searchbar>
      </div>
      <div class="row viewHeight">
        <div [ngClass]="{'col-md-9 col-sm-9': isVisible}" [ngClass]="{'col-md-12 col-sm-12': !isVisible}">
          <div class="row msgsContainer">
            <app-messageboard></app-messageboard>
          </div>
          <div class="row msg-bottom">
              <app-new-message></app-new-message>
          </div>
        </div>
        <div class="col-md-3 col-sm-3" *ngIf="isVisible">
          <div class="row">
            <button (click)='visibleClicked()' [routerLink]="['/messages']"class="pull-right">X</button>
          </div>
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
